<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>DHT22 датчик</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/simple-jscalendar@1.4.3/source/jsCalendar.min.css">
    <link rel="stylesheet" th:href="@{index.css}">
</head>
<body>
    <div class="container">
        <div class="box box-top">
            <div id="current" class="box box-left"></div>
            <div id="calendar" class="box box-right"></div>
        </div>
        <div id="chart" class="box box-bottom"></div>
    </div>

    <script th:src="@{https://unpkg.com/simple-jscalendar@1.4.3/source/jsCalendar.lang.ru.js}"></script>
    <script th:src="@{https://unpkg.com/simple-jscalendar@1.4.3/source/jsCalendar.min.js}"></script>
    <script th:src="@{https://d3js.org/d3.v4.min.js}"></script>
    <script th:src="@{js/index.js}"></script>
</body>
</html>